@charset "utf-8";


nav {
	float:right;
	background:rgb(264,260,260);
	z-index: 50;
}
nav ul:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
    nav ul,nav ul li{
    background:rgb(264,260,260);
}

nav ul li:hover > ul {
    visibility: visible;
}
nav ul li ul{
    display: inline;
    visibility: hidden;
    position: absolute;
    padding:0px;
}
nav ul li ul li{
    float: none;
}
nav ul li ul li a:hover{
    color: #333;
}


nav ul {
    padding: 0px;
    margin: 0px;
 
}
nav ul li {
list-style: none;
    float:left;
    border-right: 1px solid #dfdfdf;
}
nav ul li a {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 0.8em 1.5em 0.8em 1.5em;
 
    -webkit-transition: background 0.3s ease-out 0s;
    -moz-transition: background 0.3s ease-out 0s;
    -o-transition: background 0.3s ease-out 0s;
    transition: background 0.3s ease-out 0s;
}
nav ul li.cat1:hover a, nav ul li.cat1:hover > ul li a  {
    background-color: #E6DD00;
}
nav ul li.cat2:hover a, nav ul li.cat2:hover > ul li a  {
    background-color: #8CB302;
}
nav ul li.cat3:hover a, nav ul li.cat3:hover > ul li a {
    background-color: #008C74;
}
nav ul li.cat4:hover a, nav ul li.cat4:hover > ul li a {
    background-color: #004C66;
}
nav ul li.cat5:hover a, nav ul li.cat5:hover > ul li a {
    background-color: #332B40;
}
nav ul li:hover > a {
    color: #FAFAFA;
}
nav ul li ul li a {
    color: #FAFAFA;
}
nav ul li ul li a:hover{
    color: #333;
    background-color: #FAFAFA !important;
}

/*Mobile Menu*/
.checkboxmenu {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  display: none;
  width: 2em;
  padding: .5em;
  font-size: 1.1em;
  color: #000;
  transition: color .3s ease-in-out;
  cursor: pointer;
  margin: 0;
}


nav[role="off-canvas"] {
  display: none;
}

@media screen and (max-width: 1200px) {

  nav {
    display: none;
  }

nav[role="off-canvas"] a {
  color: #fff;
  text-decoration: none;
  font: 1.4em 'Roboto', sans-serif;
  transition: background .3s ease-in-out;
  display: table-cell;
  vertical-align: middle;
}
nav[role="off-canvas"] ul {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}
nav[role="off-canvas"] ul > li a:hover {
    color: #333;
    background-color: #FAFAFA !important; 
}

  nav[role="off-canvas"] {
    display: block;
    position: absolute;
    top: 0;
    left: -20em;
    width: 20em;
    opacity: 0;
    margin: 0 auto;
    transition: top, left 0.3s ease-in-out;
  }

  nav[role="off-canvas"] ul > li {
    display: table;
    height: 100%;
    width: 100%;
    text-align: left;
    margin: 0;
    float: left;
    opacity: .8;
    text-transform: uppercase;
    background-color: #004C66;
    cursor: pointer;
  }

  label {
    display: block;
    float: right;
  }

  label:after {
    content: "\2261";
    font-size: 1.8em;
  }

  input:checked~nav[role="off-canvas"] {
    opacity: 1;
    left: 0;
  }

}